html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
    flex: 1;
    overflow-y: auto
}

header{

  padding: 10px 0;

}

h1 {
  color: rgba(13, 125, 217, 0.877);
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  text-align: center;
}

.buttonsForm {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.loginBackground {
  background: rgba(255, 255, 255, 0.75);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(6px);
  max-width: 300px;
  margin: auto;
}

footer{
  color: rgba(13, 125, 217, 0.877);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: smaller;
  text-align: center;
}

form {
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  font-size: small;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  margin: auto;
  justify-content: center;
}

